## Proyecto 3. Entrega 1
### Analsisis Exploratorio
Diego Duarte 22075 - José Marchena 22398 - Andrés Kou 223305 - Esteban Zambrano 22119

In [1]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import scipy.stats as stats
import statsmodels.stats.diagnostic as diag
import statsmodels.api as sm
import os

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

#Importar Datos
NatDepEC=pd.read_csv("./data/nat/NatDepEC.csv")
NatDepMes=pd.read_csv("./data/nat/NatDepMes.csv")
NatEdad=pd.read_csv("./data/nat/NatEdad.csv")
NatEdadEC=pd.read_csv("./data/nat/NatEdadEC.csv")
NatEtniaArea=pd.read_csv("./data/nat/NatEtniaArea.csv")
NatNum=pd.read_csv("./data/nat/NatNum.csv")
NatOcup=pd.read_csv("./data/nat/NatOcup.csv")

### Analisis Natalidad

##### Función para clasificar tipo de variable

In [8]:
path = "./data/nat"
files = os.listdir(path)
print("Archivos en la carpeta:", files)

Archivos en la carpeta: ['NatDepEC.csv', 'NatDepMes.csv', 'NatEdad.csv', 'NatEdadEC.csv', 'NatEscolaridad.csv', 'NatEtniaArea.csv', 'NatNum.csv', 'NatOcup.csv']

In [10]:
def clasificar_variable(tipo):
    if tipo in ['object', 'category']:
        return 'Cualitativa'
    elif tipo in ['int64', 'float64']:
        return 'Cuantitativa'
    else:
        return 'Otro'
    
for archivo in files:
    if archivo.endswith(".csv"):
        print(f"=== Procesando: {archivo} ===")
        try:
            df = pd.read_csv(os.path.join(path, archivo))
            
            # Hacemos el análisis
            tipos = df.dtypes
            clasificados = tipos.apply(clasificar_variable)
            n_cual = sum(clasificados == "Cualitativa")
            n_cuant = sum(clasificados == "Cuantitativa")
            n_duplicados = df.duplicated().sum()
            n_nulos = df.isnull().sum().sum()
            
            print(f"Observaciones: {df.shape[0]}, Variables: {df.shape[1]}")
            print(f"Cualitativas: {n_cual}, Cuantitativas: {n_cuant}")
            print(f"Valores nulos totales: {n_nulos}")
            print(f"Duplicados: {n_duplicados}")
            print("-"*60)
            
        except Exception as e:
            print(f"Error leyendo {archivo}: {e}")
            print("-"*60)

=== Procesando: NatDepEC.csv ===
Observaciones: 325, Variables: 7
Cualitativas: 1, Cuantitativas: 6
Valores nulos totales: 0
Duplicados: 0
------------------------------------------------------------
=== Procesando: NatDepMes.csv ===
Observaciones: 4225, Variables: 6
Cualitativas: 2, Cuantitativas: 4
Valores nulos totales: 0
Duplicados: 0
------------------------------------------------------------
=== Procesando: NatEdad.csv ===
Observaciones: 668, Variables: 27
Cualitativas: 1, Cuantitativas: 26
Valores nulos totales: 0
Duplicados: 0
------------------------------------------------------------
=== Procesando: NatEdadEC.csv ===
Observaciones: 286, Variables: 8
Cualitativas: 2, Cuantitativas: 6
Valores nulos totales: 0
Duplicados: 0
------------------------------------------------------------
=== Procesando: NatEscolaridad.csv ===
Observaciones: 232, Variables: 12
Cualitativas: 1, Cuantitativas: 11
Valores nulos totales: 349
Duplicados: 0
------------------------------------------------------------
=== Procesando: NatEtniaArea.csv ===
Observaciones: 2843, Variables: 15
Cualitativas: 3, Cuantitativas: 12
Valores nulos totales: 2876
Duplicados: 11
------------------------------------------------------------
=== Procesando: NatNum.csv ===
Observaciones: 668, Variables: 14
Cualitativas: 1, Cuantitativas: 13
Valores nulos totales: 0
Duplicados: 0
------------------------------------------------------------
=== Procesando: NatOcup.csv ===
Observaciones: 169, Variables: 13
Cualitativas: 1, Cuantitativas: 12
Valores nulos totales: 0
Duplicados: 0
------------------------------------------------------------

In [ ]:
print(NatDepEC.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Departamento de residencia  325 non-null    object
 1   Total                       325 non-null    int64
 2   Soltera                     325 non-null    int64
 3   Casada                      325 non-null    int64
 4   Unida                       325 non-null    int64
 5   Ignorado                    325 non-null    int64
 6   Anio                        325 non-null    int64
dtypes: int64(6), object(1)
memory usage: 17.9+ KB
None

In [7]:
print(NatDepMes.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4225 entries, 0 to 4224
Data columns (total 6 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Mes                         4225 non-null   object
 1   Departamento de residencia  4225 non-null   object
 2   Total                       4225 non-null   int64
 3   Hombres                     4225 non-null   int64
 4   Mujeres                     4225 non-null   int64
 5   Anio                        4225 non-null   int64
dtypes: int64(4), object(2)
memory usage: 198.2+ KB
None

In [8]:
print(NatEdad.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 668 entries, 0 to 667
Data columns (total 27 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Edad            668 non-null    object
 1   Total           668 non-null    int64
 2   Guatemala       668 non-null    int64
 3   El Progreso     668 non-null    int64
 4   Sacatepéquez    668 non-null    int64
 5   Chimaltenango   668 non-null    int64
 6   Escuintla       668 non-null    int64
 7   Santa Rosa      668 non-null    int64
 8   Sololá          668 non-null    int64
 9   Totonicapán     668 non-null    int64
 10  Quetzaltenango  668 non-null    int64
 11  Suchitepéquez   668 non-null    int64
 12  Retalhuleu      668 non-null    int64
 13  San Marcos      668 non-null    int64
 14  Huehuetenango   668 non-null    int64
 15  Quiché          668 non-null    int64
 16  Baja Verapaz    668 non-null    int64
 17  Alta Verapaz    668 non-null    int64
 18  Petén           668 non-null    int64
 19  Izabal          668 non-null    int64
 20  Zacapa          668 non-null    int64
 21  Chiquimula      668 non-null    int64
 22  Jalapa          668 non-null    int64
 23  Jutiapa         668 non-null    int64
 24  Extranjero      668 non-null    int64
 25  Ignorado        668 non-null    int64
 26  Anio            668 non-null    int64
dtypes: int64(26), object(1)
memory usage: 141.0+ KB
None

In [ ]:
print(NatEdadEC.info())

### Analisis Violencia Intrafamiliar